.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.upper-bar {
    height: 60px;
    background-color: blueviolet;
}

.left-pane {
    width: 234px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    background-color: #61dafb;
}

.app-canvas {
    margin-left: 234px;
    padding: 0 2rem;
    -webkit-padding-start: 1.5rem;
    background-color: beige;
}